{% extends "auctions/layout.html" %}

{% block body %}
    <style>
        form > div {
            margin-bottom: 10px;
        }
    </style>

    <h2>Create New Listing</h2>

    <div>
        <!-- enctype attribute required to bind file uploads to a form-->
        <form action="{% url 'create' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div>
                {{ form.title }}
            </div>
            <div>
                {{ form.description }}
            </div>
            <div>
                {{ form.starting_bid }}
            </div>
            <div>
                {{ form.category }}
            </div>
            <div>
                Upload Image: {{ form.image }}
            </div>
            <div>
                <input class="btn btn-primary btn-sm" type="submit" value="Save">
            </div>
        </form>
    </div>
{% endblock %}